/* NewsCard Component Styles */
.news-card {
  border: 1px solid #ccc;
  border-radius: 1vh;
  border: none;
  overflow: hidden;
  margin-bottom: 1vh;
  box-shadow: 0 4px 6px rgba(205, 205, 205, 0.716);
  width: 80vw;
  height: 40vh;
  padding: 2vh;
}

.news-card-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.news-card-content {
  padding: 2vh 3vw 1vh 1vw;
}

.news-card-title {
  margin: 0 0 8px;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(20, 53, 104);
}

.news-card-details {
  font-size: 0.9rem;
  color: #555;
}

.news-card-author {
  font-weight: bold;
}

.news-card-source {
  margin-top: 4vh;
  font-size: 0.85rem;
  color: #888;
}

.news-card-list {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  align-items: center;
}

.news-card a {
  text-decoration: none;
}
